#titulo {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
      

body{   
     background: #b01717;
    background: linear-gradient(174deg, rgba(176, 23, 23, 1) 0%, rgba(199, 106, 87, 1) 50%, rgba(237, 93, 83, 1) 100%);
    font-family: sans-serif;
    text-align: center;
}

#imagem {
    border: 4px solid white;
}